.key{
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}
.value{
    font-size: 14px;
    font-family: sans-serif;
}
.productImgContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.productImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.form-control {
    margin-bottom: 20px;
}